$color-primary:#203040;
$color-primary-dark:#16212b;
$color-primary-light:#7b96b0;
$color-grey-light: #aaa;
$color-grey-light-2:#f5f5f5;
html{
    font-size: 62.5%;/*default is 16px * 62.5  10px = 1 rem */
    box-sizing: border-box;
  }
  body{
    font:1.6rem Helvetica;
    height: 100vh;
    margin:0;
  }
  button{
    font-weight: 1.6rem;
  }
  .full-width{
    width: 100%;
  }
  #root {
    height: 100%;
  }
  .grid-container {
    display: grid;
    grid-template-areas: 
        "header"
        "logo"
        "main"
        "footer";
    //grid-template-columns:[sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] repeat(8,[col-start] minmax(min-content,14rem) [col-end])[center-end] minmax(6rem,1fr) [full-end];//1140px/8=142.5px=>~14rem minmax(not smaller than the inside content can fit, maximum14rem)
    grid-template-rows:5rem 1fr 1fr 5rem;
    height: 100%;
    width: 100%;
  }
  
  .header {
    grid-area: header;
    background-color:$color-primary;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .logo{
    grid-area: logo;
    background-image: linear-gradient(rgba($color-primary,.9),rgba($color-primary,.9)),url(../images/header.png);
    background-size: cover;
    background-position: center;
    height: 60vh;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,1fr);

    &__text{
      grid-column: 3 / 5;
      grid-row: 2 / 4;
      color: white;
      font-size: 4rem;
      align-content: center;
      text-align: center;
    }
    &__button{
      grid-column: 3 / 5;
      grid-row: 5 / 6;
      text-align: center;
      background-color: $color-primary;
      color:#fff;
      border:none;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1rem;
      cursor: pointer;
      align-self: center;
      margin:0 4rem;
      border-radius: 1rem;
      &:hover{
        background-color: $color-primary-dark;
        transform: translateY(-5%);
        box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
      }
    }
  }
  .brand a {
    color:#fff;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
  }
  .header-links{
    display: flex;
    align-items: center;
  }
  .header-links a{
    color:#fff;
    text-decoration: none;
    padding: .5rem 1.5rem;
    &:hover{
    border-radius: .5rem;
    background-color: $color-primary-dark;
    }
  }
 

  .footer{
    grid-area: footer;
    background-color: $color-primary;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*Home screen */
  .products{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
    grid-gap: 7rem;
    margin:15rem 0;
    padding: 0 7rem;   
  }

  a{
    color: $color-primary;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
  }
  .product{
    display:grid;
    grid-template-columns: .3fr 1fr;
    grid-gap: 2rem;
    box-shadow: 18px 13px 43px -13px rgba(0,0,0,0.75);
    height: 100%;
    width: 100%;
    // border: 0.1rem #203040 solid;
    border-radius: 0.5rem;
    border: .1px solid $color-grey-light;
    //box-shadow: .3rem .5rem rgba(#000,.2);
    &__image{
      width: 100%;
      grid-row: 1 /2;
      grid-column: 1 / -1;
      border-bottom: 1px solid $color-grey-light;
      margin-left: auto;
      margin-right: auto;
    }

    &__name{
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      z-index: 3;
      justify-self: center;
      align-self: end;
      //background-color: $color-primary;
      background: linear-gradient(to right, rgba(9,42,73,1) 0%, rgba(9,42,73,1) 14%, rgba(9,42,73,1) 28%, rgba(7,31,59,1) 58%);
      font-size:1.7rem;
      font-weight: bold;
      letter-spacing: 0.2rem;
      text-align: center;
      border-radius: 1rem;
      margin: 1rem;
      width: 70%;
      transform: translateY(40%);
      padding: 1.5rem 0;
      a{
        color:white;
        text-decoration: none;
        list-style: none;
        text-transform: uppercase;
      }
    }

    &__name:link,
    &__name:visited{
      text-decoration: none;
      text-transform: uppercase;
      color: $color-primary;
    }
   
    &__brand{
      grid-column: 1 / -1;
      font-size:1.8rem;
      color: #808080;
      text-align: center;
    }

    &__price{
      grid-column: 1 / -1;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
    }
    .star-ratings-css {
      grid-column: 1 / -1;
      unicode-bidi: bidi-override;
      color: #c5c5c5;
      font-size: 2rem;
      height: 2rem;
      width: 100px;
      margin: 0 auto;
      position: relative;
      padding: 0;
      text-shadow: 0px 1px 0 #a2a2a2;
      
      &-top {
        color: #e7711b;
        padding: 0;
        position: absolute;
        z-index: 1;
        display: block;
        top: 0;
        left: 0;
        overflow: hidden;
      }
      &-bottom {
        padding: 0;
        display: block;
        z-index: 0;
      }
    }
    

    
    &__rating{
      grid-column: 1 / -1;
      margin-bottom: 1rem;
      text-align: center;
    }
    &__redirect{
      grid-column: 1 / -1;

      text-align: center;
      //background-color: $color-primary;
      background: linear-gradient(to right, rgba(9,42,73,1) 0%, rgba(9,42,73,1) 14%, rgba(9,42,73,1) 28%, rgba(7,31,59,1) 58%);
      border:none;
      border-radius: .5rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      align-items: center;
      padding: 1.5rem 4rem;
      cursor: pointer;
      transition: all .2s;
      display: inline-block;
      a{
        color:#fff;
      }
      &:hover{
        outline: none;
        animation: pulsate 1s infinite; 
      }
      .iconShop{
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 1rem;
        transform: translateY(10%);
      }
    }
  }
  @keyframes pulsate{
    0%{
        transform: scale(1);
        box-shadow: none;
       
    }
    50%{
        transform: scale(1.02);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
        font-size: 1.6rem;
    }
    100%{
        transform: scale(1);
        box-shadow: none;
    }
}
  
 
 
 
  
  
  /*Sidebar */
  .brand button {
    font-size: 3rem;
    padding: 0.5rem;
    background: none;
    border: none;
    color:white;
  }
  .sidebar{
    position: fixed;
    transition: all 0.5s;
    transform: translateX(-30rem);
    width: 30rem;
    background-color:#f0f0f0;
    height: 100%;
  }
  .sidebar.open{
    transform: translateX(0);
  }
  .sidebar-close-button{
    border-radius: 50%;
    border:0.1rem #000000 solid;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top:1.5rem;
  }
  
  /*Product details*/
  
  .details{
    // display: grid;
    // grid-template-columns: 1fr minmax(20rem,.7fr);
    // grid-template-rows: 1fr minmax(30rem,.7fr) 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > *{
      margin-top: 2rem;
    }
    
    &__gallery{
      flex: 0 1 40%;
      margin:5rem;
      order:1;
      justify-self: center;
      align-self: center;
      span{
        align-items: center;
      }
      img{
        display: block;
        margin:auto;
        max-width: 100%;
        object-fit: cover;
      }
    }
    &__action{
      display: flex;
      flex:0 1 50%;
      order:2;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      ul{
        list-style-type: none;
        padding: 0;
      }
      li{
        margin-bottom: 2rem;
        letter-spacing: .2rem;
        select{
        margin-left: 1rem;
        text-align: center;
        padding: .5rem 4rem .5rem .5rem;
        font-size: 16px;
        border-radius: 1rem;
        border:1px solid $color-grey-light;
        height: 3rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(../images/arrow.png) 80% / 15% no-repeat #EEE;
        }
      }

      button{
        background-color: $color-primary;
        color: white;
        font-size: 2rem;
        padding:1rem 3rem;
      }
      button:hover{
        background-color: $color-primary-dark;
      }
    }

    &__info{
        display: flex;
        //flex-direction: column;
        min-height: 0;
        min-width: 0;
        flex:1 1 100%;
        min-height: 35vh;
        background-color: $color-primary;
        color: white;
        order:3;
        padding: 4rem;
        align-content: center;
        flex-wrap: wrap;
        &__name{
          flex: 1 100%;
          font-size: 3rem;
          text-align: center;
          margin:0;
          margin-top: 2rem;
        }
        &__description{
          flex:1 100%;
          text-align: center;
          padding: 0 3rem;
        }
    }
    .bottom-content{
      display: flex;
      flex: 1 1 100%;
      min-height: 50vh;
      flex-wrap: wrap;
      justify-content: center;
      order:4;
    }
  }
  
 
  // .details-info{
  //   flex: 2 1 30rem;
  // }
  
  // .details-info ul, .details-action ul {
  //   list-style-type: none;
  //   padding: 0;
  // }
  // .details-info li, .details-action li {
  //   margin-bottom: 1rem;
  // }
  // .back-to-results{
  //   padding: 1rem;
  // }
  // .details-action{
   
  // }
  // .details-action ul li:last-child{
  //   display: flex;
  //   flex-direction: column;
  // }
  // .button{
  //   padding: 1rem;
  //   border: 0.1rem #808080 solid;
  //   cursor: pointer;
  //   border-radius: 0.5rem;
  //   background-color:#f59842;
  
  // }
  // .button:hover{
  //   background-color:#f5b042;
  // }
  // .button.secondary{
  //   background-color: #f0f080;
  // }
  // .text-center{
  //   text-align: center;
  // }
  
  /*Cart */
  .cart{
    grid-row: 2 / 4;
    display: flex;
    flex: 1 100%;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    &__header{
      display: flex;
      flex:1 100%;

      // align-self: center;
      justify-content: center;
    }
    button{
      background-color: $color-primary;
      color:white;
      font-size: 1.5rem;
      text-transform: uppercase;
      border-radius: 2.5rem;
      border-color: $color-primary;
      &:hover{
        background-color: $color-primary-dark;
        transform: translateY(-10%);
        box-shadow: 3px 12px 18px -12px rgba(0,0,0,0.75);
      }
    }
    &__container{
      display: flex;
      padding: 2rem 0;
      flex-direction: row;
      flex:1 25%;
      min-height: 0;
      align-items: center;
      font-size: 1.7rem;
      box-shadow: 6px 6px 17px 3px rgba(0,0,0,0.75);
      margin:2rem 5rem;
      color:$color-primary;
      flex-wrap: wrap;
      max-width: 50%;
      //overflow: hidden;
      &__image{
        display: flex;
        order:1;
        justify-content: center;
        align-items: center;
        flex:1 100%;
        flex-flow: column;
        img{
          box-shadow: 3px 12px 18px -12px rgba(0,0,0,0.75);
          max-width: 15rem;
          max-height: 20rem;
          border-radius: 1rem;
          margin:2rem;
        }
      }
      &__name{
        display: flex;
        align-self: center;
        justify-content: start;
        margin-left: 2rem;
        flex:1;
        order:1;
        margin:0;
        span{
          color:$color-primary;
          text-transform: uppercase;
        }
      }
      &__qty{
        button{
          padding: 1rem;
        }
      }
      .details{
        display: flex;
        flex-flow: row;
        order:2;
        flex:1 75%;
        //height: 75%;
        justify-content: space-around;
        align-content: space-between;
        flex-wrap: wrap;
        & > *{
          display: flex;
          flex:.1 45%;
          justify-content: center;
          padding: 1rem;
        }
        &__name{
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 100%;
        }
        &__delete{
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 35%;
          cursor: pointer;
          background-color: $color-primary;
          color: white;
          font-size: 1.5rem;
          border-radius: 1rem;
        }
      }
    }
    &__action{
      display: flex;
      flex-direction: column;
      flex:1 100%;
      order:3;
      //flex:1 20%;
     
      //max-width: 35%;
      text-align: center;
      justify-content: center;
      align-items: center;
      &__checkout{
        //align-self: center;
        padding: 2vh 5vw;
        margin-bottom: 2rem;
        cursor: pointer;
      }
    }
    &__shipping{
      display: flex;
      flex-direction: row;
      //border-bottom: 1px solid $color-primary;
      padding: 2rem 0;
      align-items: center;
      flex-wrap: wrap;
      //flex:.5 50% auto;
      flex:1 70%;
      box-shadow: 6px 6px 17px 3px rgba(0,0,0,0.75);
      margin:2rem 5rem;
      max-width: 60%;
      &__header{
        flex: 1 100%;
        text-align: center;
      }
      &__info{
        display: flex;
        flex:.2 50%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        p{
          display: flex;
          flex:1 100%;
          justify-content: center;
        }
        input{
          display: flex;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 50%;
          min-height: 2.5rem;
          &::placeholder{
            text-align: center;
          }
        }
      }
      &__payment{
        display: flex;
        flex:.5 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem;
        h2{
          display: flex;
          flex: 1 100%;
          justify-content: center;
        }
        input{
          margin-left: 1.5rem;
        }
        label{
          font-size: 1.7rem;
          margin-left:.5rem;
        }
        .inputs{
          display: flex;
          flex:1;
          flex-wrap: wrap;
          justify-content: space-around;
          &__error{
            flex:1 100%;
            text-align: center;
          }
        }
      }
    }   
  }
  
  .cart::after{
    content: "";
    // flex-grow: 1;
    // flex-shrink: 1;
    // flex-basis: 20%;
    max-width: 450px;
    min-width: 350px;
    
}
  .cart-list{
    flex: 3 1 60rem;
  }
  .cart-list-container{
    list-style: none;
    padding: 1rem;
    li{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 0.1rem #c0c0c0 solid;
      img{
        max-width: 10rem;
        max-height: 10rem;
      }
    }
  }
  .cart-image{
    flex: 1 1;
  }
  .cart-name{
    flex: 7 1;
    &__delete{
      margin-left: 2rem;
      padding: .5rem;
    }
  }
  .cart-price{
    flex: 1 1;
    font-size: 2.5rem;
    text-align: right;
  }
  .cart-action{
    flex: 1 1 20rem;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    padding: 8rem 2rem;
    &__checkout{
      padding:.5rem;
      margin-left: 1rem;
    }
  }
  .form-container{
    display: flex;
    flex-direction:column ;
    width: 32rem;
    padding: 2rem;
    border: 0.1rem #f0f0f0 solid;
    border-radius: 0.5rem;
    list-style-type: none;
  }
  .form-container li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .input{
    padding: 1rem;
    border:0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
  }
  
  /*Creating products */
  .product-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .content-margined{
    display: flex;
    flex-flow: column;
    flex:1 60%;
    &::-webkit-scrollbar{
      width: 1rem;
    }
    
    &__reviews{
      display: flex;
      flex-flow: column;
      flex:1 1 100%;
      overflow-y: auto;
      max-height: 55vh;
      
      &__header{
        text-align: center;
      }
      &__descriptions{
        list-style: none;
      }
    }
    &__reviews::-webkit-scrollbar{
      width: .5rem;
      margin-left: 3rem;
    }
    &__reviews::-webkit-scrollbar-thumb{
      background-color:$color-grey-light;
    }
    
    
  }
  .submit{
    display: flex;
    flex-flow: column;
    flex: 1 40%;
    min-width: 30rem;
    flex-wrap: wrap;
    &__header{
      text-align: center;
      flex:.1;
    }
    &__form{
      display: flex;
      min-height: 0;
      align-items: center;
      justify-content: space-around;
      align-content: flex-start;
      flex-wrap: wrap;
      
      & > *{
        flex: 1 1 100%;
        text-align: center;
        margin: 2.5rem 0;
        flex-shrink: 0; 
        width: min-content;
        height: min-content;
        margin: 1rem;
      }
      &__rating{
        font-size: 2rem;
        
      }
      &__selector{
        width: 50%;
        text-align: center;
        padding: 5px 35px 5px 5px;
        font-size: 16px;
        border-radius: 1rem;
        border:1px solid $color-grey-light;
        height: 34px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(../images/arrow.png) 96% / 5% no-repeat #EEE;
      }
      
      &__input{
        width: 50%;
        min-height: 10rem;
        resize: none;
       
      }
      &__button{
        min-width: 20%;
        max-width: 35%;
        border-radius: 1rem;
        padding: 1rem;
        background-color: $color-primary;
        color:white;
        
      }
    }
  }
 

  .review{
    display: flex;
    flex:1 100%;
    box-shadow: 6px 6px 17px 3px rgba(0,0,0,0.75);
    flex-wrap: wrap;
    border-radius: 1rem;
    margin: 2rem;
    justify-content: end;
    &__image{
      display:flex;
      max-width: 5rem;
      max-height: 5rem;
      border-radius: 50%;
      margin:2rem .5rem .5rem 2rem;
    }
    &__name{
      padding: 2rem 1rem;
      display: flex;
      flex:1 50%;
      align-items: center;
      color:$color-primary;
    }
    &__date{
      display: flex;
      flex:0 10%;
      margin-top:1rem;
      margin-right: 1rem;
      justify-content: end;
      color: $color-grey-light;
    }
    &__comment{
      flex:1 50%;
      margin-left:5rem;
      margin-bottom: 1rem;
    }
    &__button{
      display: flex;
      flex:0 30%;
      justify-content: center;
      justify-self: center;
      align-self: center;
      padding: .5rem;
      background-color: $color-primary;
      color:white;
      border-color: $color-primary;
      border-radius: 1rem;
      max-width: 12%;
      margin:2rem .5rem .5rem 2rem;
    }
  }

  .form{
 
  }
  .table{
    width: 100%;
  }
  th{
    text-align: left;
  }
  tbody>tr:nth-child(odd){
    background-color: #f0f0f0;
  }
  
  /*Checkout Steps */
  
  .checkout-steps{
    display: flex;
    justify-content: space-between;
    grid-column: 4 / 7;
    justify-self: center;
    width: 40rem;
    margin: 1rem auto;
  }
  .checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color:#c0c0c0;
    flex: 1 1;
    padding-top: 1rem;
  }
  
  .checkout-steps > div.active {
    border-top: 0.3rem $color-primary solid;
    color:$color-primary;
  }
  
  
 

.signin{
  // grid-row: 2 / 4;
  // display: grid;
  // //grid-template-columns: repeat(10,1fr);
  // grid-template-columns: repeat(3,1fr) repeat(4,minmax(15rem,1fr)) repeat(3,1fr);
  // grid-template-rows: repeat(2,1fr) min-content 1fr min-content repeat(5,1fr);
  // grid-gap: 1rem;
  // background-image: linear-gradient(rgba($color-grey-light,.7),rgba($color-grey-light,.7));
  // //background-image: linear-gradient(to right, rgba($color-primary,.9),rgba($color-primary-light,.9));
  height: 100vh;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index:100;
  background-color: rgba(black,.8);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &__content{
      display: grid;
      grid-template-columns: 1fr 1fr 1.2fr 1.2fr;
      grid-template-rows: .5fr 1fr 1fr 1fr;
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
      width: 45%;
      height: 60%;
      background-color: white;
      box-shadow: 0 2rem 4rem rgba(black, .2);
      border-radius: .5rem;
      border: 1px solid $color-grey-light;
      opacity: 0;
      transform:translate(-50%, -50%) scale(.2);
      transition: all .5s .2s;//.4s=the running time .2s=the delay time

      &__header{
        grid-row: 1 / 3;
        grid-column: 1 / 3;
        text-align: center;
        align-self: center;
        color:$color-primary;
        text-transform: uppercase;
        z-index:1;
      }
      &__labelEmail{
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        text-align: center;
        align-self: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        z-index:1;
      }
      &__email{
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        margin:0 2rem;
        align-self: end;
        border:1px solid #16212b;
        padding: 1rem;
        z-index:1;
        &::placeholder{
          text-align: center;
        }
      }
      &__labelPassword{
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        text-align: center;
        align-self: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        z-index:1;
      }
    
      &__password{
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        margin:0 2rem;
        align-self: end;
        border:1px solid #16212b;
        padding: 1rem;
        z-index:1;
        &::placeholder{
          text-align: center;
        }
      }
      &__submit{
        grid-row: 4 / 5;
        grid-column: 1 / 3;
        align-self: center;
        justify-self: center;
        padding:2rem 5rem;
        margin:2rem;
        font-size: 1.5rem;
        background-color: $color-primary;
        color:white;
        text-transform: uppercase;
        
        z-index:1;
        &:hover{
          background-color: $color-primary-dark;
        }
      }
      &__item{
        &--1{
          grid-row: 1 / 5;
          grid-column: 3 / 5;
        }
      }
      &__image{
        width: 100%;
        height: 100%;
        opacity: 70%;
        object-fit: center;
        display: block;
        border-radius: .3rem;
        z-index:1;
        border-left: 1px solid $color-grey-light;
      }
      &__question{
        grid-row: 3 / 4;
        grid-column: 3 / 5;
        font-size: 1.5rem;
        background-color: rgba(white, .6);
        padding: 1rem;
        margin:0 2rem;
        border-radius: .3rem;
        align-self: center;
        text-align: center;
        z-index: 1;
      }
      
  }
  &:target,
  &:active{
    opacity: 1;
    visibility: visible;
  }
  &:target &__content,
  &:active &__content{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
  }
  
  
  &__background{
    background-color: white;
    grid-row: 2 / 9;
    grid-column: 4 / 8;
    border-radius: 1rem;
    box-shadow: 0 2rem 5rem rgba(#000,.2);
  }
 
  &__registerPath{
    grid-row: 6 / 7;
    grid-column: 6 / 8;
    background-color: $color-primary;
    color: white;
    text-align: center;
    align-self: center;
    justify-self: center;
    padding: 1rem 3rem;
    z-index:1;
    &:hover{
      background-color: $color-primary-dark;
    }
  }
  &__close{
    &:link,
    &:visited{
        display: none;
        color:black;
        position: absolute;
        top:1rem;
        right:1.5rem;
        font-size: 3rem;
        text-decoration: none;
        display: inline-block;
        transition: all .2s;
        line-height: 1;
    }
    &:hover{
        color:$color-primary;
    }
}
 
}

.register{
  grid-row: 2 / 4;
  display: grid;
  grid-template-rows: 1fr repeat(8,minmax(2.5rem,1fr)) 1fr;
  grid-template-columns: repeat(3,1fr) repeat(4,minmax(15rem,1fr)) repeat(3,1fr);
  //background-image: linear-gradient(rgba($color-grey-light,.7),rgba($color-grey-light,.7));
  input{
    margin:2rem 2rem;
    padding: .5rem 0;
    align-self: end;
    grid-column: 4 / 6;
    border:1px solid $color-primary-light;
    text-align: center;
    &::placeholder{
      text-align: center;
    }
    z-index: 1;
  }
  label{
    text-align: center;
    margin-left: 2.5rem;
    grid-column: 4 / 6;
    z-index: 1;
  }
  &__header{
    grid-row: 2 / 3;
    grid-column: 4 / 6;
    justify-self: center;
    align-self: end;
    z-index: 1;
  }
  &__nameLabel{
    grid-row: 3 / 4;
  }
  &__name{
    grid-row: 3 / 4;   
  }

  &__emailLabel{
    grid-row: 4 / 5;
    
  }
  &__email{
    grid-row: 4 / 5;
    grid-column: 4 / 6;
  }
  &__passwordLabel{
    grid-row: 5 / 6;    
  }
  &__password{
    grid-row: 5 / 6;
  }
  &__repasswordLabel{
    grid-row: 6 / 7;
  }
  &__repassword{
    grid-row: 6 / 7;
  }
  &__phoneLabel{
    grid-row: 7 / 8;
  }
  &__phone{
    grid-row: 7 / 8;
  }
  &__countryLabel{
    grid-row: 8 / 9;
  }
  &__country{
    grid-row: 8 / 9;
  }
  &__button{
    grid-column: 4 / 6;
    grid-row: 9 / 10;
    align-self: center;
    margin: 0 2rem;
    padding: 1rem 0;
    z-index: 1;
    background-color: $color-primary;
    color:white;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    &:hover{
      background-color: $color-primary-dark;
    }
  }
  &__background{
    border-radius: .5rem;
    background-color: white;
    border:1px solid $color-grey-light;
    box-shadow: 5px 7px 24px -4px rgba(0,0,0,0.75);
    grid-row: 2 / 10;
    grid-column: 4 / 8;
  }

  &__item{
    &--1{
      grid-row: 2 / span 8;
      grid-column: 6 / span 2;
      
    }
  }
  &__image{
    width: 100%;
    height: 100%;
    opacity: 40%;
    object-fit: center;
    //display: block;
    border-radius: .3rem;
    z-index:1;
    border-left: 1px solid $color-grey-light;
  }
}

//Shipping
.shipping{
  grid-row: 2 / 4;
  display: grid;
  grid-template-rows: repeat(10,1fr);
  grid-template-columns: repeat(10,1fr);
  
  input{
    width: 55%;
    &::placeholder{
      text-align: center;
    }
  }
  &__header{
    grid-column: 5 / 6;
    justify-self: center;
  }
  &__address{
      text-align: center;
      grid-column: 4 / span 3;
  }
  &__city{
    text-align: center;
    grid-column: 4 / span 3;
  }
  &__postal{
    text-align: center;
    grid-column: 4 / span 3;
  }
  &__country{
    text-align: center;
    grid-column: 4 / span 3;
  }
  &__submit{
    grid-column: 5 / 6;
    padding: .5rem 0;
    margin-top: 2rem;
    background-color: $color-primary;
    color:white;
    font-size: 1.5rem;
    align-self: center;
    text-transform: uppercase;
    &:hover{
      background-color: $color-primary-dark;
    }
  }
}

.payment{
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  z-index: 1;
  &__header{
    grid-column: 5 / 6;
    text-align: center;
  }
  &__type{
    grid-column: 5 / 6;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    input{
      margin-right: 1.5rem;
    }
  }
  &__submit{
    grid-column: 5 / 6;
    align-self: center;
  }
  &__background{
    grid-column: 4 / 7;
    grid-row: 2 / 5 ;
    background-color: $color-grey-light;
    z-index: 0;
  }
}


//PLACE ORDER
.placeOrder{
  grid-row: 2 / 4;
  max-height: 80vh;
  display: grid;
  padding:2rem 3rem;
  grid-template-columns: max-content repeat(9,1fr);
  grid-template-rows: repeat(10,1fr);
  grid-gap: 1rem;
  min-height: 0;
  overflow: auto;
  & > *{
    box-shadow: 9px 4px 16px -6px rgba(0,0,0,0.68);
  }
  &__info{
    grid-row: 1 / 3;
    grid-column: 1 / 8;
    border-radius: .5rem;
    border:1px solid $color-grey-light;
    //overflow: auto;
    display: flex;
    //min-height: 12rem;
    flex-flow: wrap;
    padding: 0 3rem;
    h3{
      flex:1 100%;
      text-align: center;
    }
    p{
      flex: 1 1 25%;
    }
    
  }
  &__payment{
    grid-row: 3 / 4;
    grid-column: 1 / 8;
    border-radius: .5rem;
    border:1px solid $color-grey-light;
    padding: 0 3rem;
    align-self: center;
    text-align: center;
  }
  &__cartList{
    grid-row: 4 / 11;
    grid-column: 1 / 8;
    list-style: none;
    padding: 0 3rem;
    border-radius: .5rem;
    border:1px solid $color-grey-light;
    overflow: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    h3{
      flex: 1 100%;
      text-align: center;
    }
    li{
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      align-items:center;
      border-bottom: 1;
    }
    
    img{
      max-width: 10rem;
      max-height: 10rem;
    }
  }
  &__action{
    grid-row: 2 / 9;
    grid-column: 8 / 11;
    border-radius: .5rem;
    border:1px solid $color-grey-light;
    list-style: none;
    padding:0 1.5rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    h3{
      flex: 0 0 100%;
      text-align: center;
    }
    li{
      display: flex;
      justify-content: space-between;
      font-size: 2rem;
    }
    button{
      margin:.5rem 4rem;
      padding: 1rem 0;
      align-self: center;
      width: 70%;
      background-color: $color-primary;
      color: white;
      text-transform: uppercase;
      &:hover{
        background-color: $color-primary-dark;
      }
    }
  }
  
}
.orders-content{
  margin: 4rem;
  h3{
    text-align: center;
  }
}
.orders{
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 12% repeat(4,minmax(min-content,12%)) 12% repeat(2,minmax(min-content,12%));
  text-align: center;
  border-bottom: 1px solid $color-grey-light;
  padding: 2rem 3rem;
  h3{
    grid-row: 1 / 2;
    grid-column: 4 / 7;
    text-align: center;
  }
}


//my orders screen
.container-content{
  height: 50vh;
  overflow-y: scroll;//vertical 
  overflow-x: hidden;//horizontal
  box-shadow: 1.8rem 1.3rem 3.1rem 0rem rgba(0,0,0,0.75);

}
.content{
 display: grid;
 //grid-template-columns: 12% 12% repeat(3,minmax(min-content,12%)) 12% repeat(2,minmax(min-content,12%));
 grid-template-columns: repeat(8, 12%);
 grid-column: 1 / -1;
 text-align: center;
 padding: 2rem 3rem;
 margin: 1rem;
 border-bottom: 1px solid $color-grey-light;
    & > *{
      word-wrap: break-word;
    }
  
    &__id{
      color:$color-primary;
    }
    button{
      background-color: $color-primary;
      color: white;
      transform:translate(20%, -15%);
      &:hover{
        background-color: $color-primary-dark;
      }
    }
    
}

 /* dropdown */
 .dropdown {
  display: inline-block;
  position: relative;
  .userNav{
    display: flex;
    align-items: center;
    .image{
      max-height: 3.5rem;
      max-width: 3.5rem;
      border-radius: 50%;
      //margin-right: .5rem;
    }
    &:hover{
      border-radius: .5rem;
      background-color: $color-primary-dark;
    }

  }
   
  
  
}
.dropdown-content {
  position: absolute;
  display: none;
  list-style-type: none;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  text-align: center;
  box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
  ul{
    margin:0;
    padding: 1rem 0 0 0;
  }
  li{
    list-style: none;
    &:hover{
      background-color: $color-primary-dark;
    }
  }
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

//change password screen with popup
.changepassword{
  height: 100vh;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index:100;
  background-color: rgba(black,.8);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  
  &__content{
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
      width: 20%;
      height: 50%;
      background-color: white;
      box-shadow: 0 2rem 4rem rgba(black, .2);
      border-radius: .5rem;
      border: 1px solid $color-grey-light;
      opacity: 0;
      transform:translate(-50%, -50%) scale(.2);
      transition: all .5s .2s;//.4s=the running time .2s=the delay time
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 2rem 0;
      .icon{
        align-self: center;
        width: 3rem;
        height: 3rem;
        color: $color-primary;
      }
      h3{
        text-align: center;
      }
      div{
        display: flex;
        flex-direction: column;
        input{
          border:1px solid $color-grey-light;
          height: 3rem;
          padding: 0 1rem;
          width: 70%;
          align-self: center;
          text-align: center;
          &::placeholder{
            text-align: center;
          }
        }
        p{
          text-align: center;
          .iconPassword{
            margin-right: 1rem;
          }
        }
      }
      
      &__button{
        align-self: center;
        background-color: $color-primary;
        border-radius: .5rem;
        color: white;
        min-width: 50%;
        min-height: 4rem;
        margin-top:2.5rem;
        text-transform: uppercase;
        &:hover{
          background-color: $color-primary-dark;
        }
      }
  }
  &:target{
    opacity: 1;
    visibility: visible;
  }
  &:target &__content{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
  }
  &__close{
    &:link,
    &:visited{
        display: none;
        color:black;
        position: absolute;
        top:1rem;
        right:1.5rem;
        font-size: 3rem;
        text-decoration: none;
        display: inline-block;
        transition: all .2s;
        line-height: 1;
    }
    &:hover{
        color:$color-primary;
    }
}
}

//myprofile screen
.myprofile{
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index:100;
  background-color: rgba(black,.8);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
      &__content{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 25%;
        height: 70%;
        background-color: white;
        box-shadow: 0 2rem 4rem rgba(black, .2);
        border-radius: .5rem;
        padding: 3rem 0;
        border: 1px solid $color-grey-light;
        opacity: 0;
        transform:translate(-50%, -50%) scale(.2);
        transition: all .5s .2s;//.4s=the running time .2s=the delay time
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        input{
          border:1px solid $color-grey-light;
          width: 70%;
          height: 3rem;
          align-self: center;
          text-align: center;
        }
        &__icon{
          align-self: center;
          width: 5rem;
          height: 5rem;
          color: $color-primary;
        }

        p,h2{
          text-align: center;
          align-content: center;
          .labelIcon{
            margin-right: .5rem;
          }
        }
        &__button{
          background-color: $color-primary;
          margin-top: 1.5rem;
          padding: 1.5rem;
          width: 30%;
          color: white;
          border-radius: .5rem;
          text-transform: uppercase;
          align-self: center;
          text-align: center;
          &:active{
            border:1px solid red;
          }

        }
        &__close{
          &:link,
          &:visited{
              display: none;
              color:black;
              position: absolute;
              top:1rem;
              right:2rem;
              font-size: 3rem;
              text-decoration: none;
              display: inline-block;
              transition: all .2s;
              line-height: 1;
          }
          &:hover{
              color:$color-primary;
          }
        }
        
     

      }
      &:target{
        opacity: 1;
        visibility: visible;
      }
      &:target &__content{
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
      }

     
}

//myusers screen
.usersContainer{
  grid-row: 2/4;
  margin:5rem;
  height: 75vh;
  overflow-y: scroll;//vertical 
  overflow-x: hidden;//horizontal
  box-shadow: 1.8rem 1.3rem 3.1rem 0rem rgba(0,0,0,0.75);
  &__header{
    display: grid;
    grid-template-columns:repeat(5,minmax(10rem,1fr));
    text-align: center;
    padding: 1rem 2rem;
    background-color: $color-primary;
    color: white;
  }
}
.usersContent{
  display: grid;
  grid-template-columns: repeat(5,minmax(10rem,1fr));
  padding: 1rem 2rem;
  border-bottom: 1px solid $color-grey-light;
  word-wrap: break-word;
  text-align: center;
  font-size: 1.7rem;
  margin-top:2rem;
  &__email{
    color: $color-primary;
  }
  &__delete{
    justify-self: center;
    padding: .5rem 2rem;
    background-color: $color-primary;
    color:white;
  }
}

//create product admin
.createproduct{
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index:100;
  background-color: rgba(black,.8);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  &__content{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 70%;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(black, .2);
    border-radius: .5rem;
    padding: 3rem 1rem;
    border: 1px solid $color-grey-light;
    opacity: 0;
    transform:translate(-50%, -50%) scale(.2);
    transition: all .5s .2s;//.4s=the running time .2s=the delay time
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    .close{
          color:black;
          position: absolute;
          top:1rem;
          right:2rem;
          font-size: 3rem;
          cursor: pointer;
      &:link,
      &:visited{
          display: none;
          text-decoration: none;
          display: inline-block;
          transition: all .2s;
          line-height: 1;
      }
      &:hover{
          color:$color-primary;
      }
    }
    input,textarea{
      border:1px solid $color-grey-light;
      min-width: 70%;
      max-width: 70%;
      height: 2rem;
      align-self: center;
      text-align: center;
    }
    textarea{
      min-height: 5rem;
      max-height:5rem;
    }
    p,h2{
      text-align: center;
      align-content: center;
      margin:.5rem 0;
    }
    &__button{
      background-color: $color-primary;
      color:white;
      width: 50%;
      align-self: center;
      padding: 1rem;
      text-transform: uppercase;
      margin-top: 1rem;
      &:hover{
        background-color: $color-primary-dark;
        cursor: pointer;
      }
    }
  }
  &:target{
    opacity: 1;
    visibility: visible;
  }
  &:target &__content{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
  }

}

//list of the products
.productHeader{
  text-align: center;
  font-size: 1.7rem;
}
.productList{
  margin:2.5rem;
  border-radius: 1rem;
  //padding:3rem;
  text-align: center;
  font-size: 1.7rem;
  height: 60vh;
  overflow-y: scroll;//vertical 
  overflow-x: hidden;//horizontal
  box-shadow: 1.8rem 1.3rem 3.1rem 0rem rgba(0,0,0,0.75);
  &__header{
    display: grid;
    grid-template-columns: repeat(6,minmax(10rem,1fr));
    background-color: $color-primary;
    color: white;
  }
}
.productContent{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  word-wrap: break-word;
  padding: 2rem 0;
  border-bottom: 1px solid $color-grey-light;
  &__id{
    color: $color-primary;
    word-break: break-all;
    cursor: pointer;
  }
  &__button--edit{
    background-color: $color-primary;
    color:white;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 1rem;
    &:hover{
      background-color: $color-primary-dark;
      transform: translateY(-5%);
    }
  }
  &__button--delete{
    background-color: #570004;
    color:white;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    animation: all .2s;
    &:hover{
      background-color: #3b0103;
      transform: translateY(-5%);
    }
  }
}