//colors
$color-primary:#203040;
$color-primary-dark:#16212b;
$color-primary-light:#7b96b0;
$color-grey-light: #aaa;
$color-grey-light-2:#f5f5f5;

//screen dimensions
$bp-largest:87.5em;//1400px/16px=87.5em
$bp-large:68.75em;//1100px/16px
$bp-medium:56.25em;//900px/16px=56.25em
$bp-small:37.5em;//600px/16px=37.5em
$bp-smallest:31.25em;//500px/16px=31.25em;

html,body {
  height:100%;
}
html{
    font-size: 62.5%;/*default is 16px * 62.5  10px = 1 rem */
    box-sizing: border-box;
    @media only screen and(max-width: $bp-large){
      font-size:50%//1rem = 8px 8px/16px=50%;
    }
    @media only screen and(max-width: $bp-medium){
      font-size:40%//1rem = 8px 8px/16px=50%;
    }
    
  }
  body{
    font:1.6rem Arial;
    //height: 100vh;
    margin:0;
  }
  button{
    font-weight: 1.6rem;
  }
  .full-width{
    width: 100%;
  }
  #root {
    height: 100%;
  }
  .grid-container {
    display: grid;
    grid-template-areas: 
        "header"
        "logo"
        "main"
        "footer";
    //grid-template-columns:[sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] repeat(8,[col-start] minmax(min-content,14rem) [col-end])[center-end] minmax(6rem,1fr) [full-end];//1140px/8=142.5px=>~14rem minmax(not smaller than the inside content can fit, maximum14rem)
    grid-template-rows:5rem 1fr 1fr 5rem;
    height: 100%;
    width: 100%;
  }
  
  .header {
    grid-area: header;
    background-color:$color-primary;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    @media only screen and(max-width: $bp-small){
      min-height: 4vh;
    }
  }
  
  .logo{
    grid-area: logo;
    background-image: linear-gradient(rgba($color-primary,.9),rgba($color-primary,.9)),url(../images/header.png);
    background-size: cover;
    background-position: center;
    height: 60vh;
    @media only screen and(max-width: $bp-small){
      height: 30vh;
      min-height: 25rem;
    }
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,1fr);

    &__text{
      grid-column: 3 / 5;
      grid-row: 2 / 4;
      color: white;
      font-size: 4rem;
      align-content: center;
      text-align: center;
    }
    &__button{
      grid-column: 3 / 5;
      grid-row: 5 / 6;
      text-align: center;
      background-color: $color-primary;
      color:#fff;
      border:none;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1rem;
      cursor: pointer;
      align-self: center;
      margin:0 4rem;
      border-radius: 1rem;
      &:hover{
        background-color: $color-primary-dark;
        transform: translateY(-5%);
        box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
      }
    }
  }
  .brand a {
    color:#fff;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
  }
  .header-links{
    display: flex;
    align-items: center;
  }
  .header-links a{
    color:#fff;
    text-decoration: none;
    padding: .5rem 1.5rem;
    &:hover{
    border-radius: .5rem;
    background-color: $color-primary-dark;
    }
  }
 .navigator{
   width: 20%;
   height: 100%;
   display: flex;
   transform: translateX(15%);
   justify-content: space-around;
   align-items: center;
   a{
     text-decoration: none;
     padding: .5rem 1.5rem;
     border-radius: .5rem;
     &:hover{
       background-color: $color-primary-dark;
     }
   }
 }

  .footer{
    grid-area: footer;
    background-color: $color-primary;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*Sidebar */
  .brand button {
    font-size: 3rem;
    padding: 0.5rem;
    background: none;
    border: none;
    color:white;
  }
  .sidebar{
    position: fixed;
    transition: all 0.5s;
    transform: translateX(-30rem);
    width: 30rem;
    background-color:#f0f0f0;
    height: 100%;
  }
  .sidebar.open{
    transform: translateX(0);
  }
  .sidebar-close-button{
    border-radius: 50%;
    border:0.1rem #000000 solid;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top:1.5rem;
  }
  
  

  
  /*Creating products */
  .product-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

 /* dropdown */
 .dropdown {
  display: inline-block;
  position: relative;
  .userNav{
    display: flex;
    align-items: center;
    .image{
      max-height: 3.5rem;
      max-width: 3.5rem;
      border-radius: 50%;
      //margin-right: .5rem;
    }
    &:hover{
      border-radius: .5rem;
      background-color: $color-primary-dark;
    }

  }  
}
.dropdown-content {
  position: absolute;
  display: none;
  list-style-type: none;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  text-align: center;
  width:100%;
  box-shadow: 10px 10px 12px -5px rgba(0,0,0,0.75);
  ul{
    margin:0;
    padding: 1rem 0 0 0;
  }
  li{
    list-style: none;
    &:hover{
      background-color: $color-primary-dark;
    }
  }
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

