//list of the products
.contentCreate{
  width: 100vw;
}

.productHeader{
    text-align: center;
    font-size: 1.7rem;
  }
  .productList{
    margin:2.5rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.7rem;
    height: 75vh;
    overflow-y: scroll;//vertical 
    overflow-x: hidden;//horizontal
    box-shadow: 1.8rem 1.3rem 3.1rem 0rem rgba(0,0,0,0.75);
    &__header{
      display: grid;
      grid-template-columns: repeat(6,minmax(10rem,1fr));
      background-color: $color-primary;
      color: white;
      @media only screen and(max-width: $bp-small){
          display: flex;
          & > *{
            width: 33%;
          }
          &__hide{
            display: none;
          }
      }
    }
  }
  .productList::-webkit-scrollbar{
    width: .5rem;
    margin-left: 3rem;
  }
  .productList::-webkit-scrollbar-thumb{
    background-color:$color-grey-light;
  }
  .productContent{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    word-wrap: break-word;
    padding: 2rem 0;
    border-bottom: 1px solid $color-grey-light;
    & > * {
      padding: .5rem;
    }
    &__id{
      color: $color-primary;
      word-break: break-all;
      cursor: pointer;
    }
    &__id,
    &__category,
    &__brand{
      @media only screen and(max-width: $bp-small){
        display: none;
      }
    }
    @media only screen and(max-width: $bp-small){
      display: flex;
      flex-grow: 1;
      & > * {
        width: 33%;
      }
    }
    &__button--edit{
      background-color: $color-primary;
      color:white;
      padding: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
      border-radius: 1rem;
      &:hover{
        background-color: $color-primary-dark;
        transform: translateY(-5%);
      }
    }
    &__button--delete{
      background-color: #570004;
      color:white;
      padding: 1rem;
      font-size: 1.5rem;
      border-radius: 1rem;
      cursor: pointer;
      animation: all .2s;
      &:hover{
        background-color: #3b0103;
        transform: translateY(-5%);
      }
    }
  }