.homepage{
    display:grid;
    grid-template-columns: repeat(13,1fr);
    grid-template-rows: [first-container-start] repeat(5,7.5vw) [first-container-end second-container-start] repeat(4,7vw) [second-container-end third-container-start] repeat(3,7vw) [third-container-end fourth-container-start] repeat(2,min-content) [fourth-container-end fifth-container-start] repeat(5,7vw) [fifth-container-end icon-start] 7vw [icon-end sixth-container-start] repeat(2,min-content) [sixth-container-end seventh-container-start] min-content [seventh-container-end empty2-start] 7vw [empty2-end eight-container-start] repeat(4,7vw) [eight-container-end];
    grid-gap: 1.5rem;
    @media only screen and(max-width: $bp-smallest){
        grid-template-rows: [first-container-start] repeat(5,7.5vw) [first-container-end second-container-start] repeat(4,7vw) [second-container-end second-container-title-start] min-content [second-container-title-end second-container-description-start] repeat(2,min-content)[second-container-description-end third-container-start] repeat(3,7vw) [third-container-end fourth-container-title-start] min-content [fourth-container-title-end fourth-container-description-start] min-content [fourth-container-description-end fifth-container-start] repeat(5,7vw) [fifth-container-end icon-start] 7vw [icon-end sixth-container-start] repeat(6,min-content) [sixth-container-end seventh-container-start] min-content [seventh-container-end empty2-start] 7vw [empty2-end eight-container-start] repeat(4,7vw) [eight-container-end];
    }
    &__item{
        grid-row: first-container-start / first-container-end;
        grid-column: 1 / -1;
        opacity: .85;
    }
    &__item2{
        margin-top: 4rem;
        grid-row: second-container-start / second-container-end;
        grid-column: 2 / 8;
        max-width: 85%;
        //justify-self: center;
        @media only screen and(min-width: $bp-largest){
            
        }
        @media only screen and(max-width: $bp-smallest){
            grid-column: 3 / 12;
            justify-self: center;
        }
    }
    &__item3,
    &__item4,
    &__item5{
        grid-row: third-container-start / third-container-end;
        margin-top:5rem;
        margin-bottom: 0;
        -webkit-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
    }

    &__listTitle,
    &__listTitle2,
    &__listTitle3{
        letter-spacing: .1rem;
        grid-row: 13 / 14;
        @media only screen and(max-width: $bp-smallest){
            grid-column: 3 / 12;
            justify-self: center;
        }
        @media only screen and(max-width: $bp-smallest){
            grid-row: fourth-container-title-start / fourth-container-title-start;
        }
    }
    &__listContent,
    &__listContent2,
    &__listContent3{
        grid-row: 14 / 15;
        text-align: left;
        font-size: 1.25rem;
        @media only screen and(max-width: $bp-smallest){
            grid-column: 3 / 12;
            justify-self: center;
        }
        @media only screen and(max-width: $bp-smallest){
            grid-row: fourth-container-description-start / fourth-container-description-start;
        }
    }

    &__item3,
    &__listContent,
    &__listTitle{
        grid-column: 2 / 5;
        @media only screen and(max-width: $bp-medium){
            grid-column: 1 / 5;
            justify-self: center;
            width: 80%;
        }
    }
    &__item4,
    &__listTitle2,
    &__listContent2{
        grid-column: 6 / 9;
        @media only screen and(max-width: $bp-medium){
            grid-column: 5 / 10;
            justify-self: center;
            width: 75%;
        }
    }
    &__item5,
    &__listTitle3,
    &__listContent3{
        grid-column: 10 / 13;
        @media only screen and(max-width: $bp-medium){
            grid-column: 10 / 14;
            justify-self: center;
            width: 80%;
        }
    }
    &__item6{
        margin-top: 10rem;
        grid-column: 1 / -1;
        grid-row: fifth-container-start / fifth-container-end;
        opacity: .8;
    }
    &__item7,
    &__item8,
    &__item9{
        margin-bottom: 0;
        grid-row: eight-container-start / eight-container-end;
    }
    &__item7{
        
        grid-column: 1  / 6;
    }
    &__item8{
        
        grid-column: 9 / 14;
    }
    &__item9{
        
        grid-column: 6 / 9;
        margin-left:-1.5rem;
        margin-right: -1.5rem;
        border-left:1px solid white;
        border-right: 1px solid white;
    }
    &__item7,
    &__item8,
    &__item9{
        @media only screen and(max-width: $bp-small){
            grid-row: 31 / 35;
        }
    }
    &__title{
        grid-row: 2 / 3;
        grid-column: 4 / 11;
        text-align: center;
        font-size: 4rem;
        color: white;
        z-index: 1;
        letter-spacing: .2rem;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
        @media only screen and(max-width: $bp-medium){
            grid-column: 3 / 12;
        }
        @media only screen and(max-width: $bp-small){
            grid-column: 2 / 13;
        }
        @media only screen and(max-width: $bp-smallest){
            grid-column: 1 / -1;
            font-size: 3rem;
        }
    }
    &__button{
        grid-row: 3 / 4;
        grid-column: 6 / 9;
        z-index: 1;
        text-decoration: none;
        justify-self: center;
        align-self: center;
        font-size: 1.5rem;
        color:white;
        border:1px solid white;
        border-radius: .5rem;
        padding: .5rem 2.5rem;
        cursor: pointer;
        letter-spacing: .1rem;
        &:hover{
            text-decoration: none;
            background-color: white;
            color:$color-primary;
        }
        @media only screen and(max-width: $bp-small){
            grid-row: 4 / 5;
            grid-column: 5 / 10;
        }
    }
    &__img,
    &__img2{
        width: 100%;
        height: 100%;
        background-size: cover; /* <-- background size */
        display: block;
        background-position: center; /* <-- background position */
        
    }
    &__img2{
        border-radius: .5rem;
        -webkit-box-shadow: 9px 9px 12px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 9px 12px -7px rgba(0,0,0,0.75);
        box-shadow: 9px 9px 12px -7px rgba(0,0,0,0.75);
        
    }
    &__titleContent{
        grid-row: 7 / 8;
        grid-column: 8 / 13;
        text-align: center;
        align-self: flex-start;
        letter-spacing: .1rem;
        @media only screen and(max-width: $bp-medium){
            grid-row: 6 / 7;
            align-self: flex-end;
        }
        //50em->800px
        @media only screen and(max-width: 50em){
            grid-row: 7 / 8;
        }
        @media only screen and(max-width: $bp-small){
            grid-column: 8 / 14;
            margin-right: 1rem;
        }
        @media only screen and(max-width: $bp-smallest){    
            grid-row: second-container-title-start/second-container-title-end;
            align-self: start;
            grid-column: 3 / 12;

        }
    }
    &__content{
        grid-row: 7 / 9;
        grid-column: 8 / 13;
        text-align: center;
        align-self: flex-end;
        font-size: 1.5rem;
        letter-spacing: .1rem;
        @media only screen and(max-width: $bp-medium){
            align-self: center;
        }
        //50em->800px
        @media only screen and(max-width: 50em){
            grid-row: 8 / 10;
        }
        @media only screen and(max-width: $bp-small){
            grid-column: 8 / 14;
            margin-right: 1rem;
        }
        @media only screen and(max-width: $bp-smallest){
            grid-row: second-container-description-start/second-container-description-end;
            align-self: flex-end;
            grid-column: 3 / 12;
        }
        
      
    }
   
    // &__listTitle2,
    // &__listContent2{
    //     grid-column: 6 / 9;
    // }

    // &__listTitle3,
    // &__listContent3{
    //     grid-column: 10 / 13;
    // }
    &__item6-description{
        grid-column: 3 / 12;
        grid-row: 17 / 19;
        align-self: center;
        text-align: center;
        letter-spacing: .2rem;
        color: white;
        z-index: 1;
        font-size: 3rem;
        font-weight: 550;
        text-shadow: .5px 0 0 #000, 0 -.5px 0 #000, 0 .5px 0 #000, -.5px 0 0 #000;
        @media only screen and(max-width: $bp-smallest){
            grid-column: 1 / -1;
            font-size:2.3rem;
            grid-row: fifth-container-start / fifth-container-end;
            align-self: center;
        }
    }
    &__icon1,
    &__icon2,
    &__icon3{
        width: 2rem;
        height: 2rem;
        justify-self: center;
        align-self: center;
        color:$color-primary;
    }
    &__icon1{
        grid-column: 4 / 5;
        grid-row: 20 / 21;
        @media only screen and(max-width: $bp-medium){
           grid-column: 2 / 4;
           justify-self: center;
        }
        @media only screen and(max-width: $bp-small){
            grid-column: 7 / 8;
        }
        
    }
    &__icon2{
        grid-column: 7 / 8;
        grid-row: 20 / 21;
        @media only screen and(max-width: $bp-small){
            grid-row: 23 / 24;
            grid-column: 7 / 8;
        }
    }
    &__icon3{
        grid-column: 10 / 11;
        grid-row: 20 / 21;
        @media only screen and(max-width: $bp-medium){
            grid-column: 11 / 13;
            justify-self: center;
            width: 80%;
        }
        @media only screen and(max-width: $bp-small){
            grid-row: 26 / 27;
            grid-column: 7 / 8;
        }
    }
    &__reviews1,
    &__reviews2,
    &__reviews3{
        grid-row: 21 / 23;
        text-align: center;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 14px;
        letter-spacing: 0px;
        word-spacing: 2px;
        color: #000000;
        font-weight: normal;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        @media only screen and(max-width: $bp-medium){
            border-right: none;
        }
        
       
    }
    &__reviews1,
    &__reviews2{
        margin-right: 1rem;
        
    }
    &__reviewsTag1,
    &__reviewsTag2,
    &__reviewsTag3{
        justify-self: center;
    }

    &__reviews1,
    &__reviewsTag1{
        grid-column: 3 / 6;
        border-left: 1px solid #a2a3a3;
        @media only screen and(max-width: $bp-medium){
            border:none;
            grid-column: 1 / 5;
            justify-self: center;
            width: 80%;
        }
    }
    &__reviews1{
        @media only screen and(max-width: $bp-small){
            grid-row: 21 / 22;
            grid-column: 3 / 12;
            padding: 1rem;
        }
    }
    &__reviewsTag1{
        @media only screen and(max-width: $bp-small){
            grid-row: 22 / 23;
            grid-column: 3 / 12;
            padding: 1rem;
            text-align: center;
            font-size: 1.3rem;
            border-bottom: 1px solid $color-grey-light;
        }
    }
    &__reviews2,
    &__reviewsTag2{
        grid-column: 6 / 9;
        @media only screen and(max-width: $bp-medium){
            grid-column: 5 / 10;
            justify-self: center;
            width: 80%;
        }
        // @media only screen and(max-width: $bp-medium){
        //     display: none;
        // }
    }
    &__reviews2{
        @media only screen and(max-width: $bp-small){
            grid-row: 24 / 25;
            grid-column: 3 / 12;
        }
    }
    &__reviewsTag2{
        @media only screen and(max-width: $bp-small){
            grid-row: 25 / 26;
            grid-column: 3 / 12;
            text-align: center;
            font-size: 1.3rem;
            border-bottom: 1px solid $color-grey-light;
        }
    }
    &__reviews3,
    &__reviewsTag3{
        grid-column: 9 / 12;
        @media only screen and(max-width: $bp-medium){
            grid-column: 10 / 14;
            justify-self: center;
            width: 80%;
        }
       
    }
    &__reviews3{
        @media only screen and(max-width: $bp-small){
            grid-row: 27 / 28;
            grid-column: 3 / 12;
        }
    }
    &__reviewsTag3{
        @media only screen and(max-width: $bp-small){
            grid-row: 28 / 29;
            grid-column: 3 / 12;
            text-align: center;
            font-size: 1.3rem;
            border-bottom: 1px solid $color-grey-light;
        }
    }
    // &__reviewsTag1,
    // &__reviewsTag2,
    // &__reviewsTag3{
    //     grid-row: 23 / 24;
    //     font-size: 1.3rem;
    //     justify-self: center;
    //     text-align: center;
        
    // }
}